/* DeskripsiProject.css */
.home-container-project{
width: 100%;
height: 100%;
margin: 0 auto;
    padding-top: 120px;


}
.project-grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
    height: 400px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .project-grid {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 370px 20px;
    gap: 20px;
  }
  
  .project-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
  }
  .project-card:hover img {
    transform: scale(1.1); /* Slight zoom effect on hover */
  }
  
  
  .project-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%; /* Start the overlay below the image */
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s ease; /* Smooth transition */
    opacity: 0; 
  }
  
  .project-card:hover .project-overlay {
    bottom: 0; /* Slide up the overlay to cover the image on hover */
    opacity: 1; /* Make the overlay visible */
  }
  
  .project-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .project-2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .project-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .project-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .project-5 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .project-6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  
  .see-more-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    font-size: 16px;
  }
  
  .see-more-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 1000px) {
    .project-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  
    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
      grid-column: auto;
      grid-row: auto;
    }
  }
  
  @media (max-width: 600px) {
    .project-grid {
      grid-template-columns: 1fr;
    }
  }
  