.home-container {
  background: radial-gradient(64.86% 65.32% at 6.02% 80.11%, #CCCCCC 0%, rgba(255, 255, 255, 0) 100%),
              radial-gradient(61.36% 61.36% at 39.41% 50%, #CCCCCC 0%, rgba(255, 255, 255, 0) 100%),
              radial-gradient(65.58% 53.55% at 85.12% 28.85%, #CCCCCC 0%, rgba(255, 255, 255, 0) 100%),
              linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.container {
  max-width: 1200px;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.text-content-home {
  margin-top: 5rem;
  max-width: 600px;
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; /* Ensure text appears above background */
}

.intro-content h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
  color: #436548;
}

.intro-content p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.kaca-pic-container {
  position: relative;
  right: 60%;
  top: 17%;
}

.background-image {
  width: 600px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: -100%;
  transition: right 0.5s ease-in-out;
}

.slideshow:not(.sliding) .slide-image {
  right: 0;
}

/* Square Indicator */
.square-indicators {
  position: absolute;
  bottom: 20px;
  right: 250px;
  display: flex;
  z-index: 3;
}

.square {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.square.active {
  background-color: #AB2328;
  width: 50px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .home-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .background-image {
    width: 300px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -3.5%;
    top: 0;
  }

  .text-content-home,
  .right-section {
    width: 100%;
    height: auto;
  }

  .right-section {
    height: 200px;
  }
}
/* Mobile styles (for screens less than 768px wide) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack content vertically */
    height: auto;
  }

  .text-content-home {
    margin-top: 2rem;
    padding: 2rem;
    max-width: 100%;
  }

  .background-image {
    position: relative; /* Make it part of the document flow */
    width: 100%; /* Make sure it spans the full width on mobile */
    height: auto; /* Let it adjust according to its aspect ratio */
    margin-top: 2rem;
    max-width: 500px;

  }

  .slideshow {
    width: 100%;
    height: auto; /* Ensure it adapts to content on mobile */
    position: relative;
  }

  .slide-image {
    width: 100%;
    height: 340px; /* Let the image maintain its aspect ratio */
    object-fit: contain;
    position: relative;
    right: 0; /* Ensure image is positioned correctly */
    transition: none; /* Disable transition for mobile */
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .square-indicators {
    position: relative;
    bottom: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
