.project-section {
  background-color: #212322; /* Latar belakang hitam */
  color: #fff;
  width: 100vw; /* Lebar penuh viewport dari kiri ke kanan */
  height: 100vh; /* Tinggi penuh viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Pusatkan secara vertikal dan horizontal */
  box-sizing: border-box; /* Sertakan padding dalam perhitungan lebar */
  margin-left: calc(-50vw + 50%); /* Menyesuaikan margin untuk menghindari spasi di kiri */
  margin-right: calc(-50vw + 50%); /* Menyesuaikan margin untuk menghindari spasi di kanan */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  /* margin: 0 auto; */
  color: #fff;
}

.title {
  margin-bottom: 5rem;
  font-weight: 500;
  /* margin: 0; */
  font-size: 45px;
  color: #fff;
  align-items: center;
  line-height: 49.5px; /* Menambahkan ini untuk menghilangkan spasi ekstra */
}

.see-more-btn {
  width: 202px; /* Lebar yang diminta */
  height: 64px; /* Tinggi yang diminta */
  margin-top: 3rem;
  background-color: #FFFFFFCC;
  border: 2px solid #fff;
  color: #AB2328;
  padding: 16px, 24px, 16px, 24px;
  gap: 16px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 30px; /* Menambahkan ini untuk menyelaraskan dengan judul */
  height: 40px; /* Menetapkan tinggi yang sama dengan judul */
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-more-btn:hover {
  background-color: #fff;
  color: #212322;
}
.project-cards-container {
  display: flex;
  justify-content: center; /* Memusatkan container */
  overflow-x: auto; /* Scroll horizontal jika konten melampaui lebar */
  width: 100vw; /* Lebar penuh viewport */
  padding: 0; /* Hapus padding jika ada */
  box-sizing: border-box; /* Sertakan padding dalam perhitungan lebar */
}

.project-cards {
  display: flex;
  width: max-content; /* Menghindari lebar container yang lebih besar dari konten */
}

.project-card {
  background-color: #333;
  position: relative;
  width: 400px; /* Lebar tetap */
  height: 500px; /* Tinggi tetap */
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFFCC; /* Latar belakang deskripsi dengan transparansi */
  color: #183028; /* Warna teks deskripsi */
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover .project-description {
  transform: translateY(0);
}
