.navbar {
  width: 100%;
  background: transparent;
  max-height: 200px;
  color: white;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background 0.3s ease;
}

.navbar.scrolled {
  background:#ffffff94;
  max-height: 100px;

}
/* Add specific style for dark pages */
.navbar.dark {
  background: transparent; /* atau warna background yang sesuai untuk halaman gelap */
}

.navbar.dark.scrolled {
  background: rgba(24, 48, 40, 0.8); /* atau warna yang sesuai saat di-scroll di halaman gelap */
}

/* Logo styles */
.navbar-logo {
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease;
}

/* Default logo (hitam) */
.navbar-logo {
  filter: none;
}

/* Logo putih untuk halaman gelap */
.navbar.dark .navbar-logo {
  filter: brightness(0) invert(1) !important; /* Memastikan logo selalu putih di halaman gelap */
}
.navbar-brand {
  transition: color 0.3s ease;
}

.navbar-brand.text-white {
  color: white;
}
.navbar-logo-small {
  width: 108px;
  height: auto;
}

.navbar-logo-large {
  width: 307.5px;  /* or whatever size you want for the larger logo */
  height: auto;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10.4px;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.menu-toggle {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #183028E5;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1002;
  text-decoration: none;

}

.navbar-menu {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(360deg, #183028 30%, rgba(24, 48, 40, 0.8) 100%);
  padding: 100px;
  transition: bottom 1.3s ease-in-out;
  bottom: -100%;
  width: 100%;
  z-index: 1001;
  color: #212322;
  text-decoration-line:none;

}

.navbar-menu.open {
  bottom: 0;
}

.nav-item {
  gap: 2rem;
  width: 230px;
  height: 142px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #CFCDC9;
  transition: all 0.5s ease;
}

.nav-item span {
  color: var(--Base, #FFF);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */

}

.nav-item:hover {
  background-color: #CFCDC9;
  transform: scale(1.05);
}

.nav-item.active {
  background-color:#898D8D;
  color: aliceblue;
  width: 240px;
  height: 140px;
}

.nav-item.active span {
  color: white;
}