.personal-profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #212322;
  padding-top: 120px;
  padding-bottom: 120px;
}

.profile-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  padding-bottom: 80px;
}

.profile-left, .profile-center, .profile-right {
  flex: 1;
}

.image-container {
  position: relative;
  width: 280px;
  height: 422px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  position: absolute;
  bottom: 10px;
  background: #FFFFFFCC;
  color: #292D32;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.slide-button.left {
  left: 10px;
}

.slide-button.right {
  right: 10px;
}

.profile-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 422px;
}

.profile-center h2 {
  margin: 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 45px;
  line-height: 49.5px;
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin: 10px 0;
}

.social-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  margin: 12px 0;
}

.stat-label {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  margin-right: 12px;
}

.stat-value {
  color: #E6E6E6;
  font-weight: 600;
  font-size: 18px;
}

.description-text {
  color: #FFFFFF;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 80px;
}

.description-text.show-more {
  max-height: 300px;
}

button {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  background-color: #212322;
  color: #A9C47F;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.profile-right {
  display: flex;
  flex-direction: column;
  max-height: 422px;
  overflow-y: auto;
  border-left: 1px solid #99CCBB;
  padding-left: 20px;
}

.profile-right::-webkit-scrollbar {
  width: 8px;
}

.profile-right::-webkit-scrollbar-thumb {
  background-color: #E6E6E6;
  border-radius: 4px;
}

.profile-right::-webkit-scrollbar-track {
  background: #212322;
}

.profile-right h3 {
  margin-bottom: 10px;
  color: #FFFFFF;
}

.article-content {
  padding-right: 10px;
}

.article {
  margin-bottom: 20px;
  border-bottom: 1px solid #99CCBB;
}

.article h4 {
  margin-bottom: 5px;
  color: #FFFFFF;
}

.article p {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.tab-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88px;
  margin-top: 3rem;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFFCC;
  border-top: 1px solid #99CCBB;
  z-index: 1000;
}

.tab-container-inner {
  display: flex;
  width: 100%;
  max-width: 1280px;
  text-align: center;
}

.tab {
  width: 1200px;
  max-width:  214px;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #183028;
  font-weight: 400;
  font-size: 22px;
  line-height: 28.6px;
  cursor: pointer;
  border-right: 1px solid #99CCBB;
}

.tab:last-child {
  border-right: none;
}

.tab:hover {
  background-color: #A9C47F;
}

.tab.active {
  background-color: #183028;
  color: #FFFFFF;
}
.kaca-network-tab {
  font-weight: 400;
  font-size: 22px;
  line-height: 28.6px;
  text-transform: none;
  background-color: #f0f0f0; /* Background color for .KACA Network tab */
  color: #333; /* Text color for .KACA Network tab */
}

.kaca-network-tab.active {
  background-color: #183028;
  color:#f0f0f0; /* Different background color for active .KACA Network tab */
}