.talent-container {
    width: 100%;
    margin: 0 auto;
    height: auto; /* Change this to your desired color for the first section */
}

.talent-next-description {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #212322;
    /* This is already set, you can change if needed */
}
