.talent-section {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.talent-section h1{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  font-weight: 400;
  font-size: 57px;
  line-height: 62.7px;
  letter-spacing: -0.25px;
}

.talent-slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
  transition: transform 1500ms ease-out; /* Pastikan transisi animasi di sini */
}

.talent-slider-wrapper.animate {
  transform: translateY(-50px); /* Efek animasi saat scroll */
}

.talent-slider {
  overflow: hidden;
  width: 100%;
}

.talent-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-page {
  display: flex;
  width: 100%;
}

.talent-slide {
  flex: 1;
  max-width: 19%; /* Menampilkan lima gambar sekaligus */
  position: relative;
}

.talent-slide img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.talent-name-overlay {
  position: absolute;
  bottom: -100%; /* Awalnya tersembunyi di bawah */
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8); /* Putih transparan */
  color: #000;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  transition: bottom 0.3s ease-in-out;
}

.talent-image-container:hover img {
  transform: scale(1.05);
}

.talent-image-container:hover .talent-name-overlay {
  bottom: 0; /* Geser overlay ke atas ketika di-hover */
}

.slider-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.slider-arrow.left {
  position: absolute;
  right: 60px;
  bottom: -30px;
}

.slider-arrow.right {
  position: absolute;
  right: 20px;
  bottom: -30px;
}

.slider-dots {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  bottom: -30px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.talent-content {
  margin-top: 20px;
}

.know-more {
  cursor: pointer;
  transition: opacity 1500ms ease-out;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.know-more.animate {
  opacity: 1;
}

.personal-profile {
  position: fixed; /* Menutupi halaman Talent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Gaya latar belakang sesuai kebutuhan */
  z-index: 10001; /* Pastikan ini berada di atas elemen lain */
}
