/* ArticlesDetail.css */
.article-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.breadcrumbs {
  font-size: 0.875rem;
  color: #4a5568;
  margin-bottom: 1rem;
}

.article-title-detail {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.article-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.article-info-detail {
  color: #718096;
}

.share-buttons {
  display: flex;
  gap: 0.5rem;
}

.share-button {
  border: none;
  background: none;
  cursor: pointer;
}

.main-image {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.article-content {
  /* max-width: 65ch; */
  color: #2d3748;
  padding-bottom: 3rem;
  line-height: 1.6;
  /* margin-bottom: 5rem; */
}

.additional-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.additional-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags-container {
  margin-bottom: 2rem;
}

.tag {
  display: inline-block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #4E6548;
  color: #F8CFA9;
  border-radius: 0;
}

.related-articles {
  margin-top: 2rem;
}

.related-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.related-article {
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.related-article:hover {
  transform: translateY(-5px);
}

.related-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.related-content {
  padding: 1rem;
}

.related-article-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.related-article-info {
  font-size: 0.875rem;
  color: #718096;
}

/* Custom styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.social-icons svg {
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #4a5568;
}

/* Media Queries */
@media (min-width: 768px) {
  .related-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}